# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea
*.pem
__pycache__
src/.deps/*
src/venv
src/internal/c/vendor
src/internal/c/.bin
src/internal/c/.deps
src/tmp
src/zig-cache
src/.zig-cache
src/zig-out
.env
.venv
venv

# env secrets
*.bash_secrets

# binaries
bin/z*

# Random data
data/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.html

# Dependency directories (remove the comment below to include it)
# vendor/
build/etc/rancher/k3s/k3s.yaml

# Cluster configuration
config.yml
.aider*
