# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.idea
*.pem
__pycache__
src/.deps/*
src/venv
.venv

# binaries
bin/cluster
bin/ncluster
cluster
ncluster

# Random data
data/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cover.html

# Dependency directories (remove the comment below to include it)
# vendor/
nimbledeps
build/etc/rancher/k3s/k3s.yaml
