name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    env:
      GOMOD: ${{ github.workspace }}/src/go.mod
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25
        
    - name: Pre-Build
      run: cd src

    - name: Build
      run: cd src && go build -v ./...

    - name: Test
      run: cd src && go test -v ./...
